<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Vue</title>
    <script src="js/vue.js"></script>
    <style>
        .box {
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    
    <div id="app">

        <div v-if="showPlayers">
            <p>{{ name }} - {{ club }} - {{ age }}</p>
        </div>
        
        <button @click="toggleShowPlayers">
            <span v-if="showPlayers">
                Hide players
            </span>
            <span v-else>
                Show players
            </span>
        </button>

        <div v-show="showPlayers">currently showing players</div>

        <div class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div>
        <div class="box" @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick="handleEvent">double click</div>
        <div class="box"@mousemove="handleMousemove">position - {{ x }} {{ y }}</div>
    </div>
    <script src="js/app.js"></script>
</body>
</html>