<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Vue</title>
    <script src="js/vue.js"></script>
    <style>
        .box {
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    
    <div id="app">

        <div v-if="showPlayers">
            <ul>
                <li v-for="player in players">
                    {{ player.name }} - {{ player.club }}
                </li>
            </ul>
        </div>
        
        <button @click="toggleShowPlayers">
            <span v-if="showPlayers">
                Hide players
            </span>
            <span v-else>
                Show players
            </span>
        </button>

       
    </div>
    <script src="js/app.js"></script>
</body>
</html>